@import "tailwindcss";

@theme {
  --color-primary-600: #050709;
  --color-primary-500: #63417F;
  --color-primary-400: #8A709F;
  --color-primary-300: #4654f9;
  --color-primary-200: #9b8dff;
  --color-primary-100: #2400ff;
  --color-primary: #8750f7;

  --color-theme-secondary: #2a1454;
  --color-theme-accent-1: #0f0715;
  --color-theme-accent-2: #140c1c;

  --color-scrollbar-primary: #8750f7;
  --color-scrollbar-secondary: #2a1454;

  --color-grey-1: #747779;
  --color-grey-2: #d9d9d9;
  --color-grey-3: #dddddd;
  --color-grey-4: #22272c;
  --color-grey-5: #636363;
  --color-grey-6: #1b262e;

  --color-bg: #0c1115;
  --color-bg-2: #0e1418;
  --color-bg-3: #10171c;
  --color-bg-4: #151b1f;

  --color-border: #1b2227;
  --color-border1: #2a343c;

  --color-gold: #EAC27E;

  --color-black-1: #000000;
  --color-black-3: #5c6266;
  --color-black-4: #585859;

  --color-heading-secondary: #ffffff;

  --color-success: #2EDC7E;
  --color-error: #DC362E;
  --color-error2: #E7726D;
}